* {
    margin: 0;
    padding: 0;
}

@charset "UTF-8";

:root {
    /* Common between themes */
    --border-color: #009FE3;
    --blockquote-border-color: #009FE3;
    --code-color: #f8f8f2;
    --code-bg-color: #505050a1;
    --thumbnail-size: 150px;

    /* Theme specific */
    --bg-color: #F8F8FF;
    --secondary-bg-color:#F2F2F4;
    --body-color: rgba(0, 0, 0, 0.9);
    --post-color: rgba(51, 38, 38, 0.44);
    --heading-color: #000;
    --blockquote-text-color: #585858;
    --tag-color: #0053b9;
    --active-tag-color: #003679;
    --a-color: #009FE3;
}

html[data-theme='dark'] {
    --bg-color: #292a2d;
    --secondary-bg-color: #2c2d32;
    --body-color: rgba(255, 255, 255, 0.75);
    --post-color: rgba(0, 0, 0, 0.44);
    --heading-color: rgb(169, 169, 179);
    --blockquote-text-color: #a0a0a0;
    --tag-color: #50c7ff;
    --active-tag-color: #a4def9;
    --a-color: #50c7ff;
}

html {
    background-color: var(--bg-color);
    font-family: "Computer Modern Serif";
    font-variant-numeric: oldstyle-nums;
}

body {
    width: 100%;
    margin: 0;
    color: var(--body-color);
    background-color: var(--bg-color);
}

p {
    line-height: 1.9em;
    font-size: 1em;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: var(--body-color);
}

a:hover {
    color: var(--tag-color);
    cursor: pointer;
	transition: all 0.3s ease-in-out;
}

a:active {
    color: var(--active-tag-color);
}

h1, h2, h3, h4, h5, h6{
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 0.1em;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.55em;
}

h3 {
    font-size: 1.40em;
}

h4 {
    font-size: 1.30em;
}

h5 {
    font-size: 1.20em;
}

h6 {
    font-size: 1.15em;
}


body {
    margin-top: 20px;
}

h1 {
    width: auto;
    margin: auto;
}

#container{
    width: 550px;
    margin: auto;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "title title"
        "sliders sliders"
        "sketch sketch"
        "plotTitle plotTitle"
        "freq amp";
    column-gap: 20px;
    row-gap: 20px;
}

#title {
    grid-area: title;
    text-align: center;
}

main {
    margin: auto;
    grid-area: sketch;
}

#freqPlot {
    grid-area: freq;
    display: flex;
    justify-content: center;
}

#ampPlot {
    grid-area: amp;
    display: flex;
    justify-content: center;
}

#plotTitle {
    grid-area: plotTitle;
    text-align: center;
}

#sliders {
    grid-area: sliders;
    display: flex;
    justify-content: space-around;
}

#sliders input {
    width: 100%;
}
