@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
    color: rgba(0, 0, 0, 0.9);
    background-color: #F8F8FF;
}

p {
    line-height: 1.9em;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6{
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 0.1em;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

#container{
    width: 550px;
    margin: auto;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "title title"
        "sliders sliders"
        "sketch sketch"
        "plotTitle plotTitle"
        "freq amp"
        "texto texto";
    column-gap: 20px;
    row-gap: 20px;
}

#title {
    grid-area: title;
    text-align: center;
}

main {
    margin: auto;
    grid-area: sketch;
}

#freqPlot {
    grid-area: freq;
    display: flex;
    justify-content: center;
}

#ampPlot {
    grid-area: amp;
    display: flex;
    justify-content: center;
}

#plotTitle {
    grid-area: plotTitle;
    text-align: center;
}

#sliders {
    grid-area: sliders;
    display: flex;
    justify-content: space-around;
}

#sliders input {
    width: 100%;
}

#texto {
    grid-area: texto;
}